.container-style {
    margin-left: 44px;
    margin-top: 95px;
}
.container-style h3{
    color: gray;
    font-weight: 300;
    margin-top: 10px;

}

.content-container2-img {
    width: 250px;
    text-align: center;
    border-radius: 5px;

    object-fit: cover;
}

.content-container2 {
    display: flex;
    gap: 30px;
    margin-top: 41px;
}

.content-container2 h2 {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
}
.col2{
    max-width: 20%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;

}

.content-container2 h3 {
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    margin-top: 24px;
}

.img-style {
    width: 16%;
    margin-left: 11px;
    border-radius: 37px;

}
.workshop-footer{
    display: flex;
gap: 47px;
margin-top: 38px;
margin-bottom: 24px;
}
.btn-style{
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .35rem 1rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

